/* Styles for the more page */

.view-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.info {
  margin: 2rem 0;
  transition: box-shadow .3s ease;
}

.info:hover {
  box-shadow: 1rem .5rem rgba(0, 0, 0, 0.3);
}

.line {
  text-decoration: underline;
}

.btn {
  background-color: #ffaaaa;
}